<div class="card">
            <div class="card-body">
            <div class='user flex'>
     <div class='user-avatar'>
        <img class='img-thumbnail' src='<%= user.photo %>' alt='user image'/>
    </div>
    <div class='user-details flex'>
        <h2><%= link_to user.name, user_path(user.id) %></h2>
        <p>Number of Posts: <%= user.posts_counter %></p>
    </div>
   </div>
            </div>
   </div>